<h1>Consultants一覧</h1>

<ul>
<% @consultants.each_with_index do |consultant, i| %>
  <li><%= link_to consultant.id, edit_consultant_path(consultant.id) %>　<%= consultant.name%>　/　<%= @consultant_nicknames[i] %></li>
<% end%>
</ul>

<%= link_to "create consultant", new_consultant_path %>
<%= link_to "to users", users_path %>