<h1>Users一覧</h1>

<ul>
<% @users.each_with_index do |user, i| %>
  <li><%= link_to user.id, edit_user_path(user.id) %>　<%= user.name%>　/　<%= @user_nicknames[i] %></li>
<% end%>
</ul>

<%= link_to "create user", new_user_path %>
<%= link_to "to consultants", consultants_path %>